/**
 * Default color for Card
 */
$default-color-background-card: rgb(224, 233, 255);

/**
* Default colors for Verify button
*/
$default-color-button_active: rgb(144, 171, 250);
$default-color-button_disabled: rgb(204, 204, 204);

/**
* Default colors for Result
*/
$default-color-passed: rgba(0, 128, 0);
$default-color-failed: rgba(255, 0, 0);

/**
* Default colors for Modal
*/
$default-color-modal: hsl(240, 20%, 80%);

/**
* Default color for Text
*/
$default-color-text: rgba(51, 51, 51);

/**
* Default color for Overlay
*/
$default-color-overlay: rgba(49, 49, 49, 0.4);
