.section-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
}

.subtitle {
  color: #333;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 1rem 0 0.5rem 0;
}

.result-text {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-variant: small-caps;
  font-weight: 700;
  margin: 0 2rem;
}
