.inner-container {
  min-height: 16rem;
  min-width: 16rem;
  height: 18rem;
  width: 24rem;

  margin: 3vh;
  padding: 5vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: rgb(224, 233, 255);
  border-radius: 11px;
  // background: rgba(235, 240, 255, 0.9);
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);

  .area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;

    .section {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: flex-start;
      margin: 0 1rem 0.5rem 0.5rem;
    }
  }
}

.title {
  color: #333;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0 0 1rem 0;
  border-bottom: #333 solid 0.1rem;
}

.passed {
  background-color: rgba(241, 255, 235, 0.9) !important;
  color: green;
}

.failed {
  background-color: rgba(255, 235, 235, 0.9) !important;
  color: red;
}

.result-passed {
  margin: 1rem;
  text-align: center;
  font-variant: small-caps;
  font-weight: 700;
  color: green;
  border: green 0.2rem solid;
}

.result-failed {
  margin: 1rem;
  text-align: center;
  font-variant: small-caps;
  font-weight: 700;
  color: red;
  border: red 0.2rem solid;
}

.result-text {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-variant: small-caps;
  font-weight: 700;
  margin: 0 2rem;
}
